<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="davydov.dmytro.root" >


    <application>
        <activity android:name="davydov.dmytro.root.RootActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
